.NavSearchModel{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.NavSearchModel > div:nth-child(1){
    color: white;
    font-weight: bolder;
    margin-left: 6px;
}
.NavSearchModel > div:nth-child(2){
    height: min-content;
}
.ForBackButton{
    /* width: 50px; */
    height: 50px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.DrawerCenter{
    display: flex;
    width: 100vw;
    flex-direction: column;
    overflow: scroll;
}
.SearchModel{
    border-radius: 25px;
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: space-between;
  }
  .SearchModel > input{
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 4px 10px;
    color: black;
    outline: none;
    font-weight: 100;
  }
  .searchBtn{
    padding: 4px 16px;
    background-color: var(--pink);
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 100;
    font-size: 14px;
  }
  .NavSearchModel > div > img{
    cursor: pointer;
    margin: 5px;
    width: 50px;
    height: auto;
  }
  .TableTag{
    display: flex;
    justify-content: center;
  }
  .TableTag * {
    font-size: 14px;
  }
  .TableTag > table > thead > tr > th{
    color: white;
    min-width: 120px;
  }
  .TableTag > table > tbody > tr > td:nth-child(1){
    color: #9747FF;
    text-align: center;
    text-decoration: underline;
  }
  .inputcontainer {
    position: relative;
    margin-right: 2vw;
  }
  .inputcontainer .input {
    width: 100%;
    padding: 15px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.473);
    background-color: transparent;
    border-radius: 5px;
  }
  .inputcontainer .label {
    position: absolute;
    top: -25px;
    color: black;
    left: 0;
    background-color: #ffffff00;
    padding: 0 5px;
  }
  .inputcontainer .input:focus {
    outline: none;
  }
  
  .ReportLeftDrawer{
    display:'flex';
    background-color: #1E2742;
    flex-direction: 'column';
    width: 80vw;
    margin-top: 2vw;
    margin-left: 10vw;
    border-radius: 10px;
  }
  .ReportLeftDrawer > div{
    color: white;
  }

  
  .Reports{
    font-size: 2vw;
    margin: 2vw 0 3vw 1vw;
  }
  .ReportsFilters{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .PieChartCss{
    width: 250px;
    margin: 5vw 10vw;
  }
  .PieChartCssFlex{
    display: flex;
  }
  .ProgressFlex{
    display: flex;
    align-items: center;
  }
  .profile{
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  .PieChartCssPrice{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .CustomerName{
    font-size: 2vw;
    padding: 2vw 0 1vw 1vw;
    border-bottom: 1px solid #1e2742;
  }
  .CustomerDiv{
    width: 94%;
    margin: 3%;
    background-color: #2d3a63;
    border-radius: 20px;
  }
  .DrawerCenterDivDiv{
    display: flex;
    width: 100vw;
    flex-direction: column;
  }
  .AddCustomerStyle{
    margin: 20px;
    padding: 10px 40px;
    background-color: #a240e5;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  .AddModelButton{
    display: flex;
    justify-content: flex-end;
  }
  .FooterButton{
    max-width: 50vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .FooterButton > button{
    padding:0px 20px;
  }
  .inputcontainerFilter{
    display: flex;
    justify-content: flex-end;
    margin-right: 15vw;
  }
  .inputcontainerFilters{
    display: flex;
    justify-content: flex-end;
    margin-right: 10vw;
    align-items: center;
  }
  .inputcontainerFilters > div:nth-child(1){
    font-size: 2vw;
  }
  .inputcontainerFilters > div:nth-child(4) > img{
    width: 4vw;
  }
  .ReportsFilters{
    display: flex;
  }
  .DrawermapdataCenter{
    display: flex;
  }
  .customTable {
    display: table;
    width: 100%;
  }
  
  .customThead {
    display: table-header-group;
    /* border-bottom: 1px solid var(--blue); */
  }
  
  .customTbody {
    display: table-row-group;
  }
  
  .customTr {
    display: table-row;
    /* border-bottom: 1px solid #9AC5F4; */
  }
  
  .customTh, .customTd {
    display: table-cell;
    padding: 8px 16px;
    text-align: center;
    /* border-bottom: 1px solid #9AC5F4; */
  }
  
  .customTh {
    font-weight: bold;
  }
  
  .customTd {
    text-align: center;
  }

  .datePickerCon {
    border: 1px solid #4F55C3;
    border-radius: 5px;
  }

  .datePickerCon *{
    border: none !important;
    padding: 0em !important;
    color: #4F55C3 !important;
  }
  .label{
    font-size: 15px;
  }
  .inputCon {
    background: none;
    border: 1px solid var(--darkblue);
    padding: 4px 6px;
    border-radius: 5px;
    color: #4F55C3;
  }


  .formDiv {
    padding: 2em;
    background-color: white;
    border-radius: 15px;
    margin: 1em 0;
  }

  .greetImg{
    width: 10em;
    height: 10em;
    object-fit: contain;
  }

  .allGreet{
    width: 80%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 2em; 
  }

  .customTableContainer {
    max-height: 70vh;
    margin: 1em 0 2em 0;
    overflow: scroll;
  }
  
  .customTable {
    width: 100%;
    display: table;
  }
  
  .customTableHeader {
    display: table-header-group;
    background-color: var(--white);
    color: black;
    text-align: center;
    font-size: 16px;
  }
  
  .customTableBody {
    display: table-row-group;
    font-size: 16px;
  }
  
  .customTableRow {
    display: table-row;
    background-color: white;
  }
  
  .customTableCell {
    display: table-cell;
    padding: 6px 20px;
    border-bottom: 1px solid var(--blue);
    text-align: center;
    font-size: 14px;
  }

  .customTableCell1{
    display: table-cell;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px; 
  }

  .customTableCell2{
    display: table-cell;
    text-align: center;
    font-size: 14px; 
  }
  
  .customTableHeader .customTableCell {
    font-weight: bold;
    color: black; 
  }
  
  .customTableBody .customTableCell {
    color: black; 
  }
  
  .customTableBody .customTableRow:last-child .customTableCell {
    border: none;
    background-color: var(--white);
  }

  .tableContainer {
    width: 100%;
    overflow-x: auto;
  }
  
  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
  }
  
  .tableHeader, .tableBody {
    display: flex;
    flex-direction: column;
  }
  
  .tableRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--blue);
  }
  
  .tableHeaderCell, .tableCell {
    padding: 8px;
    flex: 1;
    text-align: center;
    font-size: 14px;
  }
  
  .tableHeaderCell {
    background-color: var(--white);
    font-weight: bold;
  }
  
  .tableCell {
    background-color: var(--white);
    color: black;
  }
  
  .tableCell:last-child, .tableHeaderCell:last-child {
    border-right: none;
  }
  
  .deleteIcon {
    flex: 0 0 auto;
    margin-left: 8px;
  }  

  .eveDatepicker *{
    border: none !important;
  }

  .NavOptions,.NavOptions1,.NavOptions2 {
    padding: 4px 3em 4px 1em;
  }

  .NavOptions:hover,.NavOptions1:hover,.NavOptions2:hover{
    background-color: #177BE5;
    border-radius: 5px;
    color: white;
    transition: .3s ease-in-out;
  }

  .CustomerIcon,.CustomerIcon1,.CustomerIcon2 {
    width: 20px;
    height: 20px;
    background-image: url('/assets/incustomer.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .CustomerIcon1{
    background-image: url('/assets/ingreet.svg');
  }

  .CustomerIcon2{
    background-image: url('/assets/ininsights.svg');
  }
  
  .NavOptions:hover > .CustomerIcon {
    background-image: url('/assets/customer.svg');
    transition: .3s ease-in-out;
  }

  .NavOptions1:hover > .CustomerIcon1 {
    background-image: url('/assets/greet.svg');
    transition: .3s ease-in-out;
  }

  .NavOptions2:hover > .CustomerIcon2 {
    background-image: url('/assets/insights.svg');
    transition: .3s ease-in-out;
  }

  .dropdown{
    margin: .4em 0 0 0;
    position: absolute;
    top: 100%;
    left: 36px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    align-items: start;
  }

  .homeIcon{
    position: absolute;
    top: 6.6%;
    left: 5%;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .customTableCell {
      display: block;
      width: 100%;
    }
  
    .customTableRow {
      display: block;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 0px) and (max-width: 600px) {
    .TableTag{
      overflow: auto;
      justify-content: flex-start;
      width: 100vw;
    }
    .DrawermapdataCenter{
      flex-direction: column;
    }
    .SearchModel{
      width: 70vw;
    }
    .AddCustomerStyle{
      padding: 5px 10px;
    }
    .AddModelButton{
      margin-right: 0vw;
    }
    .FooterButton{
      max-width: 70vw;
    }
    .FooterButton > button{
      padding: 0;
      margin: 1px;
    }
    .inputcontainerFilter{
      display: grid;
      margin: 0;
      grid-template-columns: repeat(2,1fr);
    }
    .inputcontainerFilters{
      margin: 0;
      display: grid;
    }
    .inputcontainerFilters > div:nth-child(1){
      margin-top: 5px;
      font-size: 25px;
    }
    .inputcontainerFilters > div:nth-child(2){
      margin-top: 35px;
    }
    .inputcontainerFilters > div:nth-child(3){
      margin-top: 35px;
    }
    .inputcontainerFilters > div:nth-child(4){
      margin-top: 10px;
    }
    .inputcontainerFilters > div:nth-child(4) > img{
      width: 15vw;
    }
    .ReportLeftDrawer{
      margin-left: 0;
      width: 100vw;
    }
    .ReportsFilters{
      width: 100vw;
      display: grid;
    }
    .inputcontainer{
      margin-top: 50px;
    }
    .ReportsFilters > div{
      width: 95vw;
    }
    .PieChartCssFlex{
      flex-direction: column;
    }
    .ProgressFlex > div > span{
      width: 50vw!important;
    }
    .PieChartCssPrice{
      margin: 10px;
    }
    .PieChartCssPrice > div{
      margin: 20px 0;
    }
    .Reports{
      font-size: 5vw;
    }
    .CustomerName{
      font-size: 5vw;
    }
  }


.ContainerTable{
  overflow: scroll;
}

.cusCon{
  max-height: 50vh;
  overflow: scroll;
}

.toastDiv{
  position: absolute;
  right: 0;
  top: 0;
}

.backBtn{
  position: absolute;
  top: -8%;
  left: 1%;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 2px 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: .5em;
}