.NavSearchModel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.NavSearchModel > div:nth-child(1){
    color: white;
    font-weight: bolder;
}
.SearchModel{
    background-color: var(--bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .SearchModel > input{
    background-color: var(--bg);
    border: none;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    padding: 1vw;
    color: white;
    outline: none;
  }
  .SearchModel > img{
    cursor: pointer;
    margin: 5px;
  }
  .MainContent{
    display: flex;
    padding-top: 3em;
    background-color: var(--bg);
    padding: 2em;
  }
  .MainContent > div:nth-child(1){
    display: flex;
    margin: 0 0 2em 0;
  }
  .calenderbox{
    width: 9vw;
    min-height: 9vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgba(23, 123, 229, .5);;
    height: auto;
  }
  .boxes{
    height: auto;
  }
  .calenderboxNone{
    width: 9vw;
    height: 9vw;
    border-radius: 5px;
    background-color: var(--bg);
  }
  .MainContentCalender{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(7,1fr);
  }
  .calenderboxDate{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    padding: 10px;
  }
  .JustForFUN{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  .JustForFUN > img{
    cursor: pointer;
  }
  .InputButton{
    width: 100%;
    border-radius: 5px;
    padding: 0.8vw 1.5vw;
    border: none;
    color: white;
    background-color: #725aff;
    margin-top: 40px;
    cursor: pointer;
  }
  .DrawerCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svb;
  }
  .DrawerCenter > div{
    width: 70%;
  }
  .InputTextFeild{
    color: white;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px 0;
    outline: none;
    margin-top: 20px;
  }
  .InputTextFeild::placeholder {
    color: #e6e6e6;
  }

  .EventNameBox{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    width: 80%;
    margin: 5%;
    padding: 2% 5%;
    background-color: red;
  }
  .datePicker *{
    text-decoration: none !important;
    border: 0 !important;
    padding: 0 !important;
    color: var(--blue) !important;
    font-size: 18px !important;
    font-family: "Poppins" !important;
    line-height: 0 !important;
    padding-top: 5px;
}

.NavOptions {
  padding: 4px 3em 4px 1em;
}

.NavOptions:hover{
  background-color: #177BE5;
  border-radius: 5px;
  color: white;
  transition: .3s ease-in-out;
}

.CustomerIcon {
  width: 20px;
  height: 20px;
  background-image: url('/assets/album.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.NavOptions:hover > .CustomerIcon {
  background-image: url('/assets/inalbum.svg');
  transition: .3s ease-in-out;
}

.homeIcon{
  position: absolute;
  top: 6.6%;
  left: 5%;
  cursor: pointer;
}

.ForBackButton{
  /* width: 50px; */
  height: 50px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.DrawerCenter{
  display: flex;
  width: 100vw;
  flex-direction: column;
  overflow: scroll;
}
.profile{
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.inputDiv{
  border: 1px solid var(--blue);
  outline: none;
  color: black;
  padding: 4px 8px;
  font-size: 14px;
  width: 90%;
  border-radius: 4px;
  background-color: var(--white);
}

  @media screen and (min-width: 0px) and (max-width: 600px) {
    .MainContent{
      justify-content: flex-start;
    }
    .MainContent > div:nth-child(1){
      position: absolute;
    }
    .MainContentCalender{
      width: 100vw;
      margin-top: 25vw;
    }
    .calenderbox{
      width: 13vw;
      height: auto;
    }
    .NavSearchModel{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      text-align: center;
    }
    .NavSearchModel > div:nth-child(3){
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .NavSearchModel > div:nth-child(2){
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      justify-content: center;
      grid-row-end: 3;
    }
    .JustForFUN{
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }
  }