.logoImg{
    width: 14em;
    height: 14em;
}
.logoCon{
    background-color: var(--lightpink);
    width: 75%;
    border-radius: 20px 0 0 20px;
}
.icon{
    width: 12px;
    height: 12px;
}
.rectImg{
    width: 500px;
    margin-bottom: .5em;
}
.btns {
    padding: 6px 28px;
}

@media only screen and (max-width:800px) {
    .ImageRect {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-bottom: .5em;
    }
    .con{
        background-color: var(--lightpink) !important;
    }
    .mainCon{
        flex-direction: column !important;
        width: 80%;
        border-radius: 10px !important;
    }
    .logoImg{
        width: 4em;
        height: 4em;
    }
    .logoCon{
        background-color: var(--white) !important;
        width: 100%;
        border-radius: 10px 10px 0 0 !important;
    }
    .content{
        width: 100%;
    }
    .Con2{
        border-radius: 0px 0px 10px 10px  !important;
    }
    .icon{
        width: 12px;
        height: 12px;
    }
    .rectImg{
        width: 300px;
        margin-bottom: .5em;
    }
    .btns {
        padding: 6px 10px !important;
    }
}