.Dashboard{
    display: flex;
    background-color: var(--bg);
}
.Dashboard > div:nth-child(1){
    width: 18vw;
    height: 100vh;
    position: fixed;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--white);
    border: 0 10px 10px 0;
}
.Dashboard > div:nth-child(2){
    width: 80vw;
    margin: 0 2vw 0 20vw;
}
.MainContaine{
      padding-top: 14vw;
}
.MainContainer{
    display: flex;
    width: 80vw;
    padding: 0 2em;
    margin: auto;
    background-color: var(--bg);
    margin: 2em 0;
  }
  .MainContainer > div{
    width: 25%;
  }
  .SearchModel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 5px;
    color: black;
    padding: .4em 1em .4em 0em;
    color: white;
    outline: none;
  }
  .NavOneForSearch{
    display: flex;
    justify-content: space-between;
    margin-top: 0vw;
  }
  .NavOneForSearch > div:nth-child(2){
    color: black;
    font-size: 30px;
    font-weight: bolder;
    margin-right: 2vw;
  }
  .MakeNavFixed{
    position: fixed;
    background-color: var(--bg);
    z-index: 1000;
    width: 80vw;
    padding: 0 2em;
  }
  .SearchModel > input{
    background-color: var(--white);
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: .5em;
    color: black;
    outline: none;
  }
  .SearchModel > img{
    cursor: pointer;
    margin: 5px;
  }
  .NavOneForMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
    padding-bottom: 1vw;
    padding-left: .5em;
  }
  .NavOneForMenu > div:nth-child(1){
    color: #979EA7;
    font-size: 25px;
    font-weight: bold;
    margin-top: 1vw;
  }
  .NavOneForMenu > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .UserIcon{
    width: auto;
    height: 40px;
    border-radius: 50%;
    margin: 0 2vw;
    cursor: pointer;
  }
  .Logo{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 3vw;
    text-align: center;
  }
  .LeftNavIcons > div{
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 80%;
    margin: auto;
  }
  .DashboardMenuBtn{
    margin-left: 3vw;
    margin-top: 2vw;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: var(--darkblue);
    border: none;
    padding: 1vw 2vw;
    border-radius: 3px;
  }
  .LeftNavIcons > div > img{
    height: 20px;
    margin: 1vw;
    width: auto;
  }
  .ExploreSlider{
    display: flex;
    overflow: scroll;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0 2em;
  }
  .ExploreSlider > div{
    margin-right: 10px;
    text-align: center;
  }
  .ExploreSlider > div > div:nth-child(2){
    color: white;
    font-size: 13px;
    width: 9ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .BottomImage{
    width: 20px;
    height: auto;
  }
  .OverflowScrollAnimation{
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    display: flex;
    align-items: center;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    background-color: var(--bg);
    transition: opacity 0.3s ease;
  }
  .FullscreenImage{
    width: 100vw;
    scroll-snap-align: start;
    display: flex;
    justify-content: flex-end;
    height: 100svh;
    transition: transform 0.3s ease;
  }
  .FullscreenImage > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100svh;
  }
  .FullscrenImage{
    max-height: 100svh;
    border-radius: 5px;
    max-width: 100vw;
  }
  .FullscreenImage > span:nth-child(1){
    position: absolute;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    cursor: zoom-out;
    background-color: var(--blue);
    border-radius: 5px;
    margin: 5px 5px 0 95vw;
  }
  .FullscrennnnImage{
    position: absolute;
    color: white;
    width: 96vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 85svh 2svh  0;
  }
  .FullscrennnnImage > div > img{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .DownloadBtnOnSlider{
    background-color: var(--blue);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
  }
  .SlidreImage{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
  }
  .SlidreImage > img{
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    border-radius: 50%;
    color: transparent;
    text-indent: 10000px;
  }
  .NavBtn{
    background-color: var(--darkblue);
    color: white;
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
    padding: 0.6vw 2.5vw;
    border: none;
    font-family: 'poppins';
    cursor: pointer;
}
.FoldersCss{
  display: flex;
  overflow: scroll;
}
.FoldersCss > div{
  margin: 10px 0;
  padding: 5px 10px;
  color: var(--black);
  text-transform: capitalize;
  border-radius: 1px;
  cursor: pointer;
}

.videoCon {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 2em;
}

.empty{
  color: white;
  font-size: 35px;

}
.profile{
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.searchBtn{
    padding: .4em 1em;
    background-color: var(--pink);
    color: white;
    border-radius: 5px;
    margin-left: 1em;

}

.downloadZip{
  color: white;
  background-color: var(--blue);
  padding: 4px 16px;
  font-size: 14px;
}

.downloadZip.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

  @media screen and (min-width: 0px) and (max-width: 1100px) {
    .MainContaine {
      padding-top: 16vw;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 1000px) {
    .MainContaine {
      padding-top: 17vw;
    }
    .MainContainer > div{
      width: 33%;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 800px) {
    .MainContaine {
      padding-top: 20vw;
      width: 96vw;
    }
    .MainContainer {
      width: 96vw;
      margin-bottom: 60px;
      margin: 1em 0 0 0;
    }
    .MainContainer > div{
      width: 33%;
    }
    .MakeNavFixed{
        width: 96vw;
    }
    .SearchModel{
        width: 55vw;
    }
    .Dashboard > div:nth-child(1){
        display: none;
    }
    .Dashboard > div:nth-child(2){
        width: 96vw;
        margin: 0 2vw;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 650px) {
    .MainContaine {
      width: 95vw;
      padding-top: 23vw;
    }
    .MainContainer {
      width: 96vw;
      margin: 1em 0 0 0;
    }
    .SearchModel{
        width: 45vw;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 550px) {
    .MainContainer > div{
      width: 50%;
    }
    .MainContainer{
        margin: 1em 0 0 0;
    }
    .SearchModel{
        width: 50vw;
    }
    .NavOneForSearch > div:nth-child(2){
        font-size: 25px;
    }
    .NavOneForMenu > div:nth-child(1){
        font-size: 23px;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 500px) {
    .MainContaine {
      padding-top: 30vw;
    }
    .SearchModel{
        width: 55vw;
    }
    .ExploreSlider{
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 800px) {
    .SearchModel {
        width: 86vw !important;
        margin: 1em 0 0 0 !important;
    }
}


